.primary-card {
  padding: 2rem;
  background-color: var(--white);
  border-radius: 20px;
  box-shadow: var(--secondary-shadow);
  max-width: 16rem;
  min-height: 16rem;
  display: flex;
  flex-direction: column;
}
.primary-card img {
  width: 8.37rem;
  height: 5rem;
}

.secondary-card {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  background-color: var(--white);
  border-radius: 10px;
  box-shadow: var(--secondary-shadow);
  max-width: 21rem;
  min-height: 8rem;
  gap: 1rem 0;
}

.secondary-card-header {
  font-size: 1.4rem;
  font-weight: 500;
}
