.header {
  display: flex;
  gap: 5rem;
  justify-content: center;
  align-items: center;
  height: 8rem;
}

.navbar {
  display: flex;
  gap: 5rem;
  padding: 0;
}

.navbar li {
  font-weight: 500;
  display: inline;
  font-size: 1rem;
}

.header-logo a {
  display: flex;
  align-items: center;
}

.navbar li a:hover {
  color: var(--purple);
  transition: 0.25s ease-in-out;
  text-decoration: underline 3px;
  text-underline-offset: 0.5rem;
}

.dropdown-title {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
